html {
    font-size: 16px;
    color: black;
    padding: 0;
    margin: 0;
    background-color: white;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
}

section {
    display: block;
}

/* Header styling */

header {
    background-color: rgb(111, 108, 108);
    color: white;
    display: flex;
    width:100%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    margin-right: 20px;
}

.title-container {
    display: flex;
    margin-left:20px;
}


header h1 {
    display: flex;
    font-size: 2.1875rem;
}

.nav-bar {
    display: flex;
    align-content: space-between;
}

 .nav-bar a {
    display: flex;
    justify-content: center;
    align-items: space-between;
    font-size: 1.25rem;
    color: white;
    margin:0 5px;
    text-decoration: none;
}


/* nav bar */

 nav a::after {
    content:'|';
    display:inline-flex;
    color:#dddddd;
    font-weight: bolder;
    vertical-align:middle;
    margin:0 8px;
    pointer-events: none;
}

nav a:last-child:after {
    display: none;
}

nav a:hover {
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Main */
main {
    display: flex;

}

.about-me {
    width: 100%;
}

.about-me-container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    max-width: 100%;
}

.about-me-text-container {
    max-width: 100%;
    margin: 0 10px;
}

.about-me-text-container h2 {
    font-size: 1.875rem;
}

.about-me-text-container p {
    display: block;
    font-size: 1.125rem;
}

.about-me-text-container h3 {
    font-size: 1.5rem;
}

.about-me-container img {
    width: 25rem;
    height: 18.75rem;
}

.projects-container {
    width: 100%;
    position: relative;
}



